<div class='edit-wrapper'>
  <div class='edit-wrapper__modal'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'input_field' %>
        <span class='new-name', data-placeholder='メールアドレス'> </span>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password",class: 'input_field' %>
        <span class='new-name', data-placeholder='パスワード'> </span>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'input_field' %>
        <span class='new-name', data-placeholder='パスワード(再確認)'> </span>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password",class: 'input_field' %>
        <span class='new-name', data-placeholder='現在のパスワード'> </span>
      </div>

      <div class="actions">
        <%= f.submit "編集を完了する", class: 'new-btn' %>
      </div>
    <% end %>
    <div class='acount-edit-btn'>
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>

<script>
  $('.input_field').on("focus",function(){
    $(this).addClass('focus');
  });
  $('.input_field').on("blur",function(){
    if($(this).val() == "")
      $(this).removeClass('focus');
  });


</script>