<div class='sign-wrapper'>
<%= render partial: 'posts/header' %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class='right-content'>
    <div class='sign-wrapper__field'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",class: 'input_field'%>
          <span class='new-name', data-placeholder='ニックネーム'></span>
        </div>


        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: 'input_field'%>
          <span class='new-name', data-placeholder='メールアドレス'></span>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password",class: 'input_field' %>
          <span class='new-name', data-placeholder='パスワード'></span>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'input_field' %>
          <span class='new-name', data-placeholder='パスワード再入力'></span>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: 'new-btn' %>
        </div>
      <% end %>
      <div class='btn-field'>
        <%- if controller_name != 'sessions' %>
          <li><%= link_to "登録済みの方はこちら", new_session_path(resource_name) %><br /></li>
        <% end %>

        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <li><%= link_to "確認メールの再送信", new_user_confirmation_path(resource_name) %><br /></li>
        <% end %>
      </div>

    <div class='line-box'>
      <p>or</p>
    </div>

    <div class='login-sns-btn'>

      <li class='twitter-btn'>
        <%#<%= icon("fab","twitter") %>
        <%= link_to "twitterで新規登録", user_twitter_omniauth_authorize_path,method: :post%>
      </li>

      <li class='facebook-btn'>
        <%#<%= icon("fab","facebook") %>
        <%= link_to "Facebookで新規登録", user_facebook_omniauth_authorize_path,method: :post%>
      </li>

      <li class='google-btn'>
        <%= image_tag 'Google.png', class: 'google-logo'%>
        <%= link_to "Googleで新規登録", user_google_oauth2_omniauth_authorize_path,method: :post%>
      </li>
    </div>
    </div>
  </div>
  <div class='neko-content'>
        <%= image_tag ("akubi.png"), class: :akubi_neko %>
        <div class='sign-in-message'>
          <h1>NEKOMIKKEへようこそ</h1>
          <h2>NEKOMIKKEでは誰にでも猫を救うチャンスがあります。<br>みなさんの力を貸してください。</h2>
        </div>
  </div>
</div>
</div>   