<div class='user-show-wrapper'>
<%= render partial: 'posts/header' %>
<% if @user.id == current_user.id %>
  <%= render 'devise/registrations/profile_edit' %>
<%end%>

  <div class='left-content'>
    <div class='my-page-content'>
      <div class='my-page__image'>
        <%= image_tag ("neko.jpg") %>
          <div class='my-page-avatar'>
            <%= image_tag @user.avatar.to_s%>
          </div>
          <div class='my-page-btn-content'>
            <% if @user.id == current_user.id %>
              <%if @user.email != "testuser@gmail.com"%>
                <div class='profile-edit-btn'> プロフィール編集 </div>
              <%end%>
              <% unless @room_id == nil %>
                <div class='message-btn'> 
                  <%= fa_icon "envelope" %>
                  <%= link_to "", room_path(@room_id)%>
                </div>
              <%end%>
            <%else%>
              <% if @isRoom == true %>
                <div class='message-btn'> 
                  <%= fa_icon "envelope" %>
                  <a href="/rooms/<%= @roomId %>"></a>
                </div>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <div class='message-btn'> 
                    <%= fa_icon "envelope" %>
                    <%= f.submit ""%>
                  </div>
                <% end %>
              <% end %>
            <%end%>
          </div>
          <div class='my-page'>
              ニックネーム
            <div class='my-page__name'>
              <%= @user.nickname %>
            </div>
              場所
            <div class='my-page__address'>
              <% if @user.address == nil%>
                まだ設定されていません
              <%else%>
                <%= @user.address %>
              <%end%>
            </div>
              自己紹介
            <div class='my-page__introduction'>
              <% if @user.introduction == "" %>
                まだ自己紹介は書かれていません。
              <%else%>
                <%= @user.introduction %>
              <%end%>
            </div>
          </div>
      </div>
    </div>
  </div>



  <div class='main-content'>
    <div class='main-content__field'>
      <ul class='main-content__list'>
        <% @posts.each do |post|%>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
        <% if @posts.length < 1 %>
            <div class='no-post-message'>
              <h1>まだ投稿がありません</h1>
            </div>
        <%end%>
      </ul>
      <%= paginate @posts %>
    </div>
  </div>
</div>