<div class='login-wrapper'>
<div class='cover'>
  <div class='login-wrapper__modal'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'input_field' %>
        <span class='new-name', data-placeholder='メールアドレス'> </span>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password",class: 'input_field' %>
        <span class='new-name', data-placeholder='パスワード'> </span>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field_remember_btn">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン",class: 'new-btn'  %>
      </div>
      <% end %>
    
    <div class='btn-field'>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <li><%= link_to "新規会員登録", new_registration_path(resource_name) %><br /></li>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードをお忘れですか？", new_user_password_path(resource_name) %><br />
      <% end %>
    </div>

    <div class='line-box'>
      <p>or</p>
    </div>

    <div class='login-sns-btn'>

      <li class='facebook-btn'>
        <%= fa_icon("facebook") %>
        <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path,method: :post%>
      </li>

      <li class='google-btn'>
        <%= image_tag 'Google.png', class: 'google-logo'%>
        <%= link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path,method: :post%>
      </li>

    </div>

  </div>
</div>
<script>
  $('.input_field').on("focus",function(){
    $(this).addClass('focus');
  });
  $('.input_field').on("blur",function(){
    if($(this).val() == "")
    $(this).removeClass('focus');
  });
</script>
