<div class='post-wrapper'>
  <%= render partial: 'posts/header' %> 

  <div class='left-content'>
    <div class='message-list'>
      <div class='message-list__title'>
        <h1>メッセージ</h1>
      </div>
      <% @dm_member.zip(@room_id) do |member, i| %>
        <% if member.id == @entry_opponent_id %>
          <a href="/rooms/<%= i %>" style = 'background-color: #F8F4F1; box-shadow: 0 0 10px 0 white; border-right: solid 5px red;'>
            <%= image_tag member.avatar.to_s%>
            <p style = 'color: black;'><%= member.nickname%></p>
          </a>
        <%else%>
          <a href="/rooms/<%= i %>" >
            <%= image_tag member.avatar.to_s%>
            <p ><%= member.nickname%></p>
          </a>
        <%end%>
      <%end%>
    </div>
  </div>
  
  <div class='main-content'>
    <div class='message-content'>

      <div class='message-opponent'>
        <a href="/users/<%= @entry_opponent_id %>">
          <%=image_tag @entry_opponent.avatar.to_s%>
          <%= @entry_opponent.nickname%>さん
        </a>
      </div>
      

      <% if @messages.present? %>
        <div class= 'message-box'>
          <% @messages.each do |m| %>
            <% unless m.user_id == current_user.id %>
              <div class='message-box__message', data-message-id="<%=m.id%>",  data-room-id="<%=m.room.id%>">
                <div class= 'message-box__message__image'>
                  <a href="/users/<%= m.user_id %>"><%=image_tag m.user.avatar.to_s %></a>
                </div>
                <div class= 'message-box__message__style'>
                  <%= m.message %>
                  <br>
                  <div class='message-time'>
                    <%= m.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                  </div>
                </div>
              </div>
            <%else%>
              <div class='message-box__message2', data-message-id="<%=m.id%>",  data-room-id="<%=m.room.id%>">
                <div class= 'message-box__message2__style2'>
                  <%= m.message %>
                  <br>
                  <div class='message-time'>
                    <%= m.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      <% else %>
        <h1 class="message-center">
          メッセージはまだありません
        </h1>
      <% end %>
    </div>

    <div class='message-form'>
      <%= form_for @message do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信", class: 'message-form__submit' %>
      <% end %>
    </div>
    
  </div>

</div>