<div class='modal'>

  <%= fa_icon "times-circle" %>

  <div class='post-content'>

    <%= form_for post do |f| %>

      <label>
        <div id='image-field'>
        <%= image_tag post.image.to_s, id: :img_prev %>
          <div class="post-field">
            <p class='upload-name'>クリックしてファイルをアップロード<span>(必須)</span></p>
            <%= fa_icon "image" %>
            <%= f.file_field :image%>
          </div>
        </div>
      </label>
      <%= f.check_box :remove_image %> 画像を削除

      <div class="post-field">
          <label>タイトル<span>必須</span></label>
          <%= f.text_field :title, placeholder: 'タイトルをつけてください', class: :post_input %>
          <label><span class='title-label'>入力してください</span></label>
        </div>


        <div>
          <%= f.text_field :address %>
        </div>

        <div>
          <%= f.text_field :latitude, id: :output_latitude %>
        </div>

        <div>
          <%= f.text_field :longitude, id: :output_longitude %>
        </div>

        <div class="post-field">
          <label class='detail'>詳細<span>必須</span></label>
          <%= f.text_area :content, placeholder: '現在の状況を書いてください', class: :post_input %>
          <label><span class='detail-label'>入力してください</span></label>
        </div>

        <div id= "address-field">
          
        </div>
      
        <div class="post-actions">
          <div class="back-button">
            戻る
          </div>
          <%= f.submit "登録する", id: 'new-post-btn'%>
        </div>
    <% end %>

        <button onclick="getMyPlace()", id='get-my-place-btn'>クリックして現在位置を取得して下さい</button>
        
  </div>

</div>