<div class='post-wrapper'>

  <%= render partial: 'header' %>


  <div class='map-content'>
    <div class='map-content__map'>
      <div class='post_btn'>
        <p>猫を登録</p>
      </div>
      <div class='map_name'>
        <p>捨て猫map</p>
      </div>
      <div id="map">読み込めませんでした。リロードしてください。</div>
      <div id="result"></div>
    </div>
  </div>

  <div class='list-of-posts-content'>
    <div class='list-of-posts-content__wrapper'>
    <ul class='list-of-posts-content__post'>
      <% @posts.each do |post|%>
        <%= render partial: 'posts/post', locals: { post: post } %>
      <% end %>
    </ul>
    <%= paginate @posts %>
  </div>
  </div>
</div>







<div class='modal'>

  <%= icon('fa',"times-circle") %>

  <div class='post-content__post'>

    <%= form_for @post do |f| %>

      <label>
        <div id='image_field'>
        <%= image_tag @post.image.to_s, id: :img_prev %>
          <div class="post_field">
            <p class='upload_name'>クリックしてファイルをアップロード</p>
            <%= icon("fa","image") %>
            <%= f.file_field :image%>
          </div>
        </div>
      </label>
      <%= f.check_box :remove_image %> 画像を削除

      <div class="post_field">
          <label>タイトル<span>必須</span></label>
          <%= f.text_field :title, placeholder: 'タイトルをつけてください', class: :post_input %>
          <label><span class='title_label'>入力してください</span></label>
        </div>
      
        <div class="post_field address_field">
          <label>住所<span>必須</span></label>
          <%= f.text_field :address, placeholder: '住所を入力するか、現在位置を取得をクリック', class: :post_input %>
          <label><span class='address_label'>入力するかボタンをクリックしてください</span></label>
        </div>

        <div>
          <%= f.text_field :latitude, id: :output_latitude %>
        </div>

        <div>
          <%= f.text_field :longitude, id: :output_longitude %>
        </div>

        <div class="post_field">
          <label class='detail'>詳細<span>必須</span></label>
          <%= f.text_area :content, placeholder: '現在の状況を書いてください', class: :post_input %>
          <label><span class='detail_label'>入力してください</span></label>
        </div>

        <label><span class='btn_label'>左のマップに現在地が表示されればOKです。現在地の取得に少し時間がかかる場合があります。</span></label>
      
        <div class="post_actions">
          <%= f.submit %>
        </div>

    <% end %>
        <p><button onclick="getMyPlace()", id='get-my-place-btn'>現在位置を取得</button></p>
  </div>

</div>

<script type="text/javascript">


    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json%>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    function getMyPlace() {
      var output = document.getElementById("result");
      var output_latitude = document.getElementById("output_latitude");
      var output_longitude = document.getElementById("output_longitude");
      if (!navigator.geolocation){//Geolocation apiがサポートされていない場合
        alert("<p>Geolocationはあなたのブラウザーでサポートされておりません</p>");
        return;
      }
      function success(position) {
        var latitude  = position.coords.latitude;//緯度
        var longitude = position.coords.longitude;//経度
        output_latitude.value = latitude
        output_longitude.value = longitude
        // 位置情報
        var latlng = new google.maps.LatLng( latitude , longitude ) ;
        // Google Mapsに書き出し
        var map = new google.maps.Map( document.getElementById( 'map' ) , {
            zoom: 15 ,// ズーム値
            center: latlng ,// 中心座標
        } ) ;
        // マーカーの新規出力
        new google.maps.Marker( {
            map: map ,
            position: latlng ,
        } ) ;
      };
      function error() {
        //エラーの場合
        ale("住所を取得できません");
      };
      navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
    }

</script>