<div class='map-field'>
  <div id="map" style='width: 100%; height: 500px;'></div>
  <p><button onclick="getMyPlace()">現在位置を取得</button></p>
  <div id="result"></div>
</div>

<%= form_for @post do |f| %>
<div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>　
 
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :緯度 %>
    <%= f.text_field :latitude, id: :output_latitude %>
  </div>

  <div class="field">
    <%= f.label :経度 %>
    <%= f.text_field :longitude, id: :output_longitude %>
  </div>

  <div class="field">
    <%= f.label :写真 %>
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label :内容 %>
    <%= f.text_field :content %>
  </div>
 
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">


    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json%>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    function getMyPlace() {
      var output = document.getElementById("result");
      var output_latitude = document.getElementById("output_latitude");
      var output_longitude = document.getElementById("output_longitude");
      if (!navigator.geolocation){//Geolocation apiがサポートされていない場合
        output.innerHTML = "<p>Geolocationはあなたのブラウザーでサポートされておりません</p>";
        return;
      }
      function success(position) {
        var latitude  = position.coords.latitude;//緯度
        var longitude = position.coords.longitude;//経度
        output_latitude.value = latitude
        output_longitude.value = longitude
        // 位置情報
        var latlng = new google.maps.LatLng( latitude , longitude ) ;
        // Google Mapsに書き出し
        var map = new google.maps.Map( document.getElementById( 'map' ) , {
            zoom: 15 ,// ズーム値
            center: latlng ,// 中心座標
        } ) ;
        // マーカーの新規出力
        new google.maps.Marker( {
            map: map ,
            position: latlng ,
        } ) ;
      };
      function error() {
        //エラーの場合
        output.innerHTML = "座標位置を取得できません";
      };
      navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
    }


</script>