<div class='post-wrapepr'>

  <div class='map-content'>
    <div class='map-content__map'>
      <div id="map"></div>
      <div id="result"></div>
    </div>
  </div>

</div>

<div class='modal'>

  <%= fa_icon("fa-times") %>

  <div class='post-content__post'>
    <p><button onclick="getMyPlace()", id='get-my-place-btn'>現在位置を取得</button></p>

    <%= form_for @post do |f| %>

      <label>
        <div class='image_field'>
          <p>クリックしてファイルをアップロード</p>
          <div class="post_field">
            <%= fa_icon("image") %>
            <%= f.file_field :image%>
          </div>
        </div>
      </label>

      <div class="post_field">
          <%= f.label :タイトル %>
          <%= f.text_field :title, placeholder: 'タイトルをつけてください', class: :post_input %>
        </div>
      
        <div class="post_field">
          <%= f.label :住所 %>
          <%= f.text_field :address, placeholder: '住所を入力するか、現在位置を取得をクリック', class: :post_input, class: :post_field__address %>
        </div>

        <div>
          <%= f.text_field :latitude, id: :output_latitude %>
        </div>

        <div>
          <%= f.text_field :longitude, id: :output_longitude %>
        </div>

        <div class="post_field">
          <%= f.label :内容 %>
          <%= f.text_area :content, placeholder: '現在の状況を書いてください', class: :post_input %>
        </div>
      
      
        <div class="post_actions">
          <%= f.submit %>
        </div>

    <% end %>
  </div>

</div>

<script type="text/javascript">


    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json%>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    function getMyPlace() {
      var output = document.getElementById("result");
      var output_latitude = document.getElementById("output_latitude");
      var output_longitude = document.getElementById("output_longitude");
      if (!navigator.geolocation){//Geolocation apiがサポートされていない場合
        output.innerHTML = "<p>Geolocationはあなたのブラウザーでサポートされておりません</p>";
        return;
      }
      function success(position) {
        var latitude  = position.coords.latitude;//緯度
        var longitude = position.coords.longitude;//経度
        output_latitude.value = latitude
        output_longitude.value = longitude
        // 位置情報
        var latlng = new google.maps.LatLng( latitude , longitude ) ;
        // Google Mapsに書き出し
        var map = new google.maps.Map( document.getElementById( 'map' ) , {
            zoom: 15 ,// ズーム値
            center: latlng ,// 中心座標
        } ) ;
        // マーカーの新規出力
        new google.maps.Marker( {
            map: map ,
            position: latlng ,
        } ) ;
      };
      function error() {
        //エラーの場合
        output.innerHTML = "座標位置を取得できません";
      };
      navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
    }

</script>