<div id="map" style='width: 100%; height: 500px;'></div>

<%= form_for @post do |f| %>
<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>　
 
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
 
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">


    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json%>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  



  

</script>