<div class='post-wrapper'>
  <%= render partial: 'header' %> 

  <div class='left-content'>
    <div class='left-content__map'>
      
      <div class='map_name'>
        <p>猫を発見した場所</p>
      </div>
      <div id="map">読み込めませんでした。リロードしてください。</div>
      <div id="result"></div>
    </div>
  </div>



  <div class='main-content'>
    <div class='main-content__field'>
      <div class='contributor'>
        <div class='contributor__image'>
          <%= link_to user_path(@post_show.user.id) do %>
            <%=image_tag @post_show.user.avatar.to_s%>
          <%end%>
        </div>
        <div class='contributor__name'>
          <%= @post_show.user.nickname%>
        </div>
        <div class='contributor__address'>
          <%= @post_show.user.address%>
        </div>
      </div>
      <div class='post-detail-wrapper'>
        <div class='post-detail-image'>
          <%=image_tag @post_show.image.to_s%>
        </div>
        <div class='post-detail'>
          <div class='post-detail__title'>
            <div class='post-detail__title__left'>
              <P>タイトル</p>
            </div>
            <div class='post-detail__title__right'>
              <%= @post_show.title%>
            </div>
          </div>
          <div class='post-detail__content'>
            <div class='post-detail__content__left'>
              <P>現在の状況</p>
            </div>
            <div class='post-detail__content__right'>
              <%= @post_show.content%>
            </div>
          </div>
        </div>
      </div>
      <div class='post-detail-googlemap-btn'>
        <%= link_to "Googleマップで見つける", "https://maps.google.co.jp/maps?q=loc:#{@post_show.latitude},#{@post_show.longitude}",target: "_blank" %>
      </div>
      <% unless @user.id == current_user.id %>
        <% if @isRoom == true %>
          <div class='post-detail-message-btn'>
            <%#<%= icon("far","envelope") %>
            <a href="/rooms/<%= @roomId %>">メッセージする</a>
          </div>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <div class='post-detail-message-btn'>
              <%#<%= icon("far","envelope") %>
              <%= f.submit "メッセージする"%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>




<script type="text/javascript">


    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json%>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });

    function getMyPlace() {
      var output = document.getElementById("result");
      var output_latitude = document.getElementById("output_latitude");
      var output_longitude = document.getElementById("output_longitude");
      if (!navigator.geolocation){//Geolocation apiがサポートされていない場合
        alert("<p>Geolocationはあなたのブラウザーでサポートされておりません</p>");
        return;
      }
      function success(position) {
        var latitude  = position.coords.latitude;//緯度
        var longitude = position.coords.longitude;//経度
        output_latitude.value = latitude
        output_longitude.value = longitude
        // 位置情報
        var latlng = new google.maps.LatLng( latitude , longitude ) ;
        // Google Mapsに書き出し
        var map = new google.maps.Map( document.getElementById( 'map' ) , {
            zoom: 15 ,// ズーム値
            center: latlng ,// 中心座標
        } ) ;
        // マーカーの新規出力
        new google.maps.Marker( {
            map: map ,
            position: latlng ,
        } ) ;
      };
      function error() {
        //エラーの場合
        ale("住所を取得できません");
      };
      navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
    }

</script>